<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../static/css/Sign-in.css">

</head>
<body>
    <form class="IN">
        <h1 class="Sign-in">
            Please sign in
        </h1>
        <div class="email">
            <input type="email" placeholder="email">
        </div>
        <div class="password">
            <input type="password" name="" id="" placeholder="password">
        </div>
        <a href="{{ url_for('task') }}"><button type="submit" class="Sign" id="to-task">Sign In</button></a>


        
      </form>

    <script src="../static/js/Sign-in.js"></script>
</body>
</html>
