<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/css/Sign-up.css">
</head>
<body>

    <form class="UP">
        <h1 class="Sign-up">
            Please sign up
        </h1>
        <div class="email">
            <input type="email" placeholder="email" class="email">
        </div>
        <div class="password">
            <input type="password" name="passw" id="pass" placeholder="password" class="password">
        </div>
        <div class="Repassword">
            <input type="password" name="repass" id="repass" placeholder="repeat password" class="repassword">
        </div>
        <a href="{{ url_for('task') }}"><button type="submit" class="Sign">Sign up</button></a>
        <a href="{{ url_for('Sign_in') }}"><button type="button" class="Sign_up">Sign in</button></a>

      </form>

    <script src="../static/js/Sign-up.js"></script>
    
</body>
</html>
